<div id="wishlistt-iframe">
    <style type="text/css">
     #wishlistt-iframe {

       position: absolute;
       right: 0;
       top: 0;
       height: 100%;
       width: 350px;
       overflow: hidden;
     }

     #wishlistt-iframe .container {
       position: absolute;
       right: -350px;
       /* width: 100%; */
       height: 100%;
     }

     #wishlistt-iframe .container iframe {
       widht: 100%;
       height: 100%;
     }

     #wishlistt-iframe .close {
       position: absolute;
       right: 20px;
       top: 0;

       font-size: 30px;
       color: white;
     }
    </style>
    <div class="container">
        <iframe src="http://localhost:3000/plugin?pp=disable" frameBorder="0"></iframe>

        <div class="close">X</div>
    </div>
</div>
