<div id="wishlistt-iframe">
    <style type="text/css">
     #wishlistt-iframe {
       position: fixed;
       right: 0;
       top: 0;

       overflow: hidden;
       height: 100%;
       width: 100%;
     }

     #wishlistt-iframe .container {
       position: absolute;
       top: 0;
       right: -350px;

       height: 100%;
     }

     #wishlistt-iframe .container iframe {
       position: absolute;
       right: 0;

       width: 350px;
       height: 100%;
     }

     #wishlistt-iframe .close {
       position: absolute;
       right: 330px;
       top: 5px;

       color: white;

       font-family: Arial;
       font-weight: bold;
       font-size: 13px;

       cursor: pointer;
     }

     #wishlistt-iframe .background {
       position: absolute;

       width: 100%;
       height: 100%;

       background-color: grey;
       opacity: 0.5;
     }

     #wishlistt-iframe .sidebar .spinner {
       position: absolute;
       right: 50%;
       top: 50%;
     }

     #wishlistt-iframe .sidebar .spinner img {
       margin: -15px 0 0 -15px;
     }

     #wishlistt-iframe .sidebar {
       position: absolute;
       right: 0;
       top: 0;

       width: 350px;
       height: 100%;

       background-color: whitesmoke;
     }
    </style>

    <div class="background"></div>

    <div class="container">
        <div class="sidebar">
            <div class="spinner">
                <img src="http://localhost:3000/assets/spinner.gif"/>
            </div>
        </div>

        <iframe src="http://localhost:3000/plugin?pp=disable" frameBorder="0"></iframe>

        <div class="close">X</div>
    </div>
</div>
