<div id="wishlistt-widget">
    <style type="text/css">
     #wishlistt-widget {
       position: fixed;
       right: 0;
       top: 10%;

       width: 200px;
       height: 50px;
       padding: 2px;

       background: black;
       color: white;

       font-weight: bold;
       font-family: Arial, Helvetica, sans-serif;

       cursor: pointer;
     }

     #wishlistt-widget.loading { background-color: whitesmoke; }

     #wishlistt-widget h4,
     #wishlistt-widget p,
     #wishlistt-widget img {
       margin: 0;
     }

     #wishlistt-widget img {
       display: inline;
     }

     #wishlistt-widget .label {
       position: relative;
       top: -19px;
       left: 11px;
     }

     #wishlistt-widget .info {
       margin-left: 60px;
     }

     #wishlistt-widget .wishlistt-widget-spinner img {
       left: 50px;
       top: 7px;
     }
    </style>
    <div class="wishlistt-widget-content">
        <span class="picture">
            <img src="" width="50" height="50"/>
        </span>

        <span class="label">Add to wish list</span>
    </div>

</div>
