<div id="wishlistt-widget">
    <style type="text/css">
        #wishlistt-widget {
            position: absolute;
            right: 0;
            top: 10%;

            border: 1px solid black;

            width: 150px;
            height: 80px;
        }

        #wishlistt-widget h4,
        #wishlistt-widget p,
        #wishlistt-widget img {
            margin: 0;
        }

        #wishlistt-widget img {
            position: absolute;
            left: 0;
            top: 5;
        }

        #wishlistt-widget .info {
            margin-left: 60px;
        }
    </style>

    <h4>Wishlistt</h4>

    <div class="picture">
        <img src="" width="50"/>
    </div>

    <div class="info">
        <h4 class="title"></h4>
        <p class="price"></p>
    </div>
</div>
